 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     height: 100%;
     font-family: 'Arial', sans-serif;
     background-color: #fff7de;
     overflow-x: hidden;
 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 30px;
     padding-left: 80px;
     background: linear-gradient(135deg, #ffeb99, #ffd54f);
     box-shadow: 0px 3px 8px rgb(0, 0, 0, 0.2);
     position: sticky;
     top: 0;
     z-index: 9000;
     font-family: "Acme", sans-serif;
     font-weight: 400;
 }


 /* APARTADO TITULOS Y SUBTITULOS */


 .subtitulo {

     position: relative;
     left: 250px;
     ;
     top: 70px;
     font-size: 100px;
     font-family: "Acme", sans-serif;
     color: #ff6d4d;



 }

 .quienes {
     font-size: 25px;
     width: 590px;
     position: relative;
     left: 200px;
     top: 70px;
     font-family: "Acme", sans-serif;
     font-weight: 400;
     font-style: normal;


 }

 .empresalogo {
     position: relative;
     bottom: 560px;
     /* Mueve la imagen 30px hacia abajo */
     left: 950px;
     /* Mueve la imagen 40px a la derecha */
     width: 750px;
     height: 750px;
 }


 .sub {
     position: relative;
     bottom: 500px;
     color: white;
     font-size: 100px;
     text-align: center;
     font-family: "Acme", sans-serif;
     color: #ff880d;

 }

 .textomiembros {

     font-size: 25px;
     position: relative;
     bottom: 440px;
     left: 220px;
     width: 1500px;
     height: 300px;
     font-family: "Acme", sans-serif;
     font-weight: 400;
     font-style: normal;

 }



 /* APARTADO DE MIEMBROS */

 .controlCajas {
     position: relative;

     bottom: 500px;
 }

 .cajaD {
     background-color: #ffeb99;
     position: relative;
     padding: 5px;
     margin: 0px auto 0;
     /*Valor negativo sube la caja de mierrrda*/
     border-radius: 12%;
     text-align: center;
     color: white;
     width: 425px;
     height: 520px;
     right: 600px;
     transition: transform 1.0s ease;
     transform-origin: center, center;

 }

 .cajaD:hover {
     transform: scale(1.04);

 }

 .perfildev {
     height: 200px;
     width: 200px;
     border-radius: 50%;
     border: solid 5px;
     border-color: #751a12;
     position: relative;
     left: 0px;
     margin: 125px auto 0;
 }


 @keyframes animacionDev {
     0% {
         transform: rotate(0deg);
     }

     5% {
         transform: rotate(30deg);
     }

     10% {
         transform: rotate(-25deg);
     }

     15% {
         transform: rotate(20deg);
     }

     20% {
         transform: rotate(-15deg);
     }

     30% {
         transform: rotate(10deg);
     }


     45% {
         transform: rotate(0deg);
     }

     75% {
         transform: rotate(30deg);
     }

     80% {
         transform: rotate(-25deg);
     }

     85% {
         transform: rotate(20deg);
     }

     90% {
         transform: rotate(-15deg);
     }

     95% {
         transform: rotate(10deg);
     }

     100% {
         transform: rotate(0deg);

     }

 }


 .perfildev:hover {
     animation: animacionDev 2.2s ease-in-out infinite;
     transform: rotate(40deg);
     transition: 0.7s;
 }

 .cajaA {
     background-color: #ffeb99;
     position: relative;
     padding: 5px;
     margin: -530px auto 0;
     /*Valor negativo sube la caja de mierrrda*/
     border-radius: 12%;
     text-align: center;
     color: white;
     width: 425px;
     height: 520px;
     left: 590px;
     transition: transform 1.0s ease;
     transform-origin: center, center;
 }

 .cajaA:hover {
     transform: scale(1.04);

 }

 .perfilagus {
     height: 200px;
     width: 200px;
     border-radius: 50%;
     border: solid 5px;
     border-color: #751a12;
     position: relative;
     left: 0px;
     margin: 125px auto 0;
     display: flex;
     background-image: url('https://static.wikia.nocookie.net/memes-pedia/images/2/2b/Perro_Sovi%C3%A9tico_MEME.png/revision/latest?cb=20200129172847&path-prefix=es');
     background-size: cover;
     background-position: center;
 }

 .perfilagus:hover {
     background-image: url('https://media.tenor.com/KxLhjoEInTUAAAAM/%D9%81%D8%A7%D8%B4%DB%8C%D8%B3%D9%85%D8%B3%D8%B1%D8%AE-soviet-union.gif');
 }

 .cajaM {

     background-color: #ffeb99;
     position: relative;
     padding: 5px;
     margin: -530px auto 0;
     /*Valor negativo sube la caja de mierrrda*/
     border-radius: 12%;
     text-align: center;
     color: white;
     width: 425px;
     height: 520px;
     right: 0px;
     transition: transform 1.0s ease;
     transform-origin: center, center;
 }

 .cajaM:hover {
     transform: scale(1.04);

 }

 .perfilmart {
     height: 200px;
     width: 200px;
     border-radius: 50%;
     border: solid 5px;
     border-color: #751a12;
     position: relative;
     margin: 125px auto 0;
     left: 0px;
     display: flex;
     background-image: url('https://avatars.githubusercontent.com/u/205787438?v=4');
     background-size: cover;
     background-position: center;
 }


 .perfilmart:hover {
     background-image: url('https://media.tenor.com/AwWxwJVLj4oAAAAM/stechumielihampterki-zi-ewan-ie.gif');
 }


 .cajaJ {
     background-color: #ffeb99;
     position: relative;
     padding: 5px;
     margin: 25px auto 0;
     /*Valor negativo sube la caja de mierrrda*/
     border-radius: 12%;
     text-align: center;
     color: white;
     width: 425px;
     height: 520px;
     left: 0px;
     transition: transform 1.0s ease;
     transform-origin: center, center;
 }

 .cajaJ:hover {
     transform: scale(1.04);

 }

 .perfiljohn {

     height: 200px;
     width: 200px;
     border-radius: 50%;
     border: solid 5px;
     border-color: #751a12;
     position: relative;
     margin: 125px auto 0;
     left: 0px;
     background-image: url('perfiles/perfiljohn.jpg');
     background-position: center;
     background-size: cover;

 }

 .perfiljohn:hover {
     background-image: url('https://media1.tenor.com/m/g9qdy2Qq7DMAAAAC/the-p-club-ddlc.gif');
 }

 .cajaN {
     background-color: #ffeb99;
     position: relative;
     padding: 5px;
     margin: 46px auto 0;
     /*Valor negativo sube la caja de mierrrda*/
     border-radius: 12%;
     text-align: center;
     color: white;
     width: 425px;
     height: 520px;
     right: 600px;
     transition: transform 1.0s ease;
     transform-origin: center, center;
 }

 .cajaN:hover {
     transform: scale(1.04);

 }

 .perfilnilt {

     height: 200px;
     width: 200px;
     border-radius: 50%;
     border: solid 5px;
     border-color: #751a12;
     position: relative;
     margin: 125px auto 0;
     left: 0px;
 }


 .cajaP {

     background-color: #ffeb99;
     position: relative;
     padding: 5px;
     margin: -530px auto 0;
     /*Valor negativo sube la caja de mierrrda*/
     border-radius: 12%;
     text-align: center;
     color: white;
     width: 425px;
     height: 520px;
     left: 0px;
     transition: transform 1.0s ease;
     transform-origin: center, center;
 }

 .cajaP:hover {
     transform: scale(1.04);

 }

 .perfilpati {

     height: 200px;
     width: 200px;
     border-radius: 50%;
     border: solid 5px;
     border-color: #751a12;
     position: relative;
     margin: 125px auto 0;
     left: 0px;

 }


 @keyframes animacionPat {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

 .perfilpati:hover {
     animation: animacionPat 3s linear infinite;

 }

 .cajaZ {
     background-color: #ffeb99;
     position: relative;
     padding: 5px;
     margin: -530px auto 0;
     /*Valor negativo sube la caja de mierrrda*/
     border-radius: 12%;
     text-align: center;
     color: white;
     width: 425px;
     height: 520px;
     left: 590px;
     transition: transform 1.0s ease;
     transform-origin: center, center;
 }

 .cajaZ:hover {
     transform: scale(1.04);

 }

 .perfilzaid {

     height: 200px;
     width: 200px;
     border-radius: 50%;
     border: solid 5px;
     border-color: #751a12;
     position: relative;
     margin: 125px auto 0;
     left: 0px;

 }


 /*  APARTADO DE INFORMACION DE LOS MIEMBROS */





 .header-info {
     position: fixed;
     display: none;
     left: 500px;
     top: 200px;
     background-color: #ff6d4d;
     width: 700px;
     height: 500px;
     border-radius: 4%;
     color: #ffeb99;
     z-index: 10000;
     font-family: "Acme", sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 .content-header-info {
     position: relative;
     justify-content: space-between;
     height: 50px;
     width: 700px;
     background-color: #690013;

 }

 .text-header {
     position: relative;
     top: 8px;
     left: 20px;
 }

 .cerrar-info {
     background-color: #ff880d;
     position: relative;
     bottom: 30px;
     left: 640px;
     height: 35px;
     width: 45px;
     text-align: center;
     font-size: 30px;
     border-radius: 15px;
     color: #ffeb99;
     cursor: pointer;
     border: none;
     font-weight: bold;

 }

 .perfil-info-D {
     position: relative;
     background-color: #690013;
     width: 250px;
     height: 250px;
     border-radius: 50%;
     top: 30px;
     left: 20px;
     background-image: url('https://lh3.googleusercontent.com/a/ACg8ocLkHqxZhJnRmepb1OsCGdg9OXtCQweHqbXPV5fD9g_pNCRZqDLf=s288-c-no');
      background-position: center;
     background-size: cover;

 }

 .perfil-info-M {
     position: relative;
     background-color: #690013;
     width: 250px;
     height: 250px;
     border-radius: 50%;
     top: 30px;
     left: 20px;
     background-image: url('https://avatars.githubusercontent.com/u/205787438?v=4');
     background-size: cover;
     background-position: center;

 }

.perfil-info-A {
     position: relative;
     background-color: #690013;
     width: 250px;
     height: 250px;
     border-radius: 50%;
     top: 30px;
     left: 20px;
     background-image: url('https://static.wikia.nocookie.net/memes-pedia/images/2/2b/Perro_Sovi%C3%A9tico_MEME.png/revision/latest?cb=20200129172847&path-prefix=es');
     background-size: cover;
     background-position: center;

 }


 .perfil-info-J {
     position: relative;
     background-color: #690013;
     width: 250px;
     height: 250px;
     border-radius: 50%;
     top: 30px;
     left: 20px;
     background-image: url('perfiles/perfiljohn.jpg');
     background-position: center;
     background-size: cover;

 }


 .perfil-info-P {
     position: relative;
     background-color: #690013;
     width: 250px;
     height: 250px;
     border-radius: 50%;
     top: 30px;
     left: 20px;
     background-image: url('perfiles/perfilpatiño.jpg');
     background-position: center;
     background-size: cover;

 }


 .perfil-info-N {
     position: relative;
     background-color: #690013;
     width: 250px;
     height: 250px;
     border-radius: 50%;
     top: 30px;
     left: 20px;
     background-image: url('perfiles/perfilnilton.jpg');
     background-position: center;
     background-size: cover;

 }


 .perfil-info-Z {
     position: relative;
     background-color: #690013;
     width: 250px;
     height: 250px;
     border-radius: 50%;
     top: 30px;
     left: 20px;
     background-image: url('perfiles/perfilzaid.jpg');
     background-position: center;
     background-size: cover;

 }

 .caja-info {
     position: relative;
     bottom: 250px;

 }

 .nombre-info {
     position: relative;
     height: 60px;
     width: 370px;
     left: 300px;
     top: 30px;
     background-color: #690013;
     border-radius: 15px;

 }

 .datos-info {
     position: relative;
     height: 85px;
     width: 370px;
     left: 300px;
     top: 50px;
     background-color: #690013;
     border-radius: 15px;

 }

 .apartado-info {
     position: relative;
     height: 60px;
     width: 370px;
     left: 300px;
     top: 70px;
     background-color: #690013;
     border-radius: 15px;
 }

 .encargado-info {
     position: relative;
     height: 100px;
     width: 640px;
     left: 30px;
     top: 100px;
     background-color: #690013;
     border-radius: 15px;

 }

 .text-box-name {
     position: relative;
     top: 13px;
     left: 20px;
     font-size: 30px;
     white-space: normal;
     word-wrap: break-word;
     overflow-wrap: break-word;
 }

 .text-box-apartado {
     position: relative;
     top: 11px;
     left: 32px;
     font-size: 30px;
     white-space: normal;
     word-wrap: break-word;
     overflow-wrap: break-word;

 }

 .text-box-encargado {
     position: relative;
     top: 14px;
     left: 10px;
     font-size: 30px;
     white-space: normal;
     word-wrap: break-word;
     overflow-wrap: break-word;
 }

 .text-box-facts {
     position: relative;
     top: 13px;
     left: 5px;
     font-size: 20px;
     white-space: normal;
     word-wrap: break-word;
     overflow-wrap: break-word;


 }