html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /*Elimina el scroll de al lado derecho */
    background: #fff9c4;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* BACKGROUND */


.contenido {
    padding: 0;
    background: #fff9c4;
    min-height: 100vh;
    transition: margin-left 0.75s ease;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo {
    display: flex;
    transform: scale(1.4); /* Aumenta el tamaño del todo el contenido */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 350px;
}



/*    APARTADO  DE  PERFIL */


.profile-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff9c4;
    border-radius: 10px;
    padding: 20px;
}


.perfil-cabecera {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.profile-avatar {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}


.user-name {
    font-size: 40px;
    color: #333;
    margin-top: 15px;

}

.user-mail {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}


.user-desc {
    max-width: 760px;
    text-align: center;
    font-size: 20px;
    color: #333;
    margin-top: 40px
}


/*   APARTADO SOBRE MI     */

.perfil-detalles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;

}

.about-me {
    font-size: 32px;
    color: #ff6d4d;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
}

.desc {
    max-width: 600px;
    text-align: center;
}





/*   CAMBIOS DE USUARIO INCLUYE INPUTS  */


.changes-info {
    margin-top: 100px;

}

.title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ff880d;

}

.user {
    position: relative;
    font-size: 25px;
    color: #690013;
    bottom: 10px;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-box-name-user {
    position: relative;
    width: 750px;
    height: 45px;
    font-size: 25px;
    background-color: #ff6d4d;
    border-radius: 15px;
    border: none;
    color: #ffeb99;
    padding-left: 10px;
    padding-right: 50px;


}

.text-box-name-user:focus {
    border: 3px solid #aa1905;
    outline: none;

}

.text-box-name-user::placeholder {
    color: #690013;
}

.password {
    position: relative;
    font-size: 25px;
    color: #690013;
    top: 25px;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-box-password {
    position: relative;
    top: 35px;
    width: 750px;
    height: 45px;
    font-size: 25px;
    background-color: #ff6d4d;
    border-radius: 15px;
    border: none;
    color: #ffeb99;
    padding-left: 10px;
    padding-right: 50px;


}

.text-box-password:focus {
    border: 3px solid #aa1905;
    outline: none;

}

.text-box-password::placeholder {
    color: #690013;
}


.repeat-password {
    position: relative;
    font-size: 25px;
    color: #690013;
    top: 60px;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-box-repeat-password {
    position: relative;
    top: 70px;
    width: 750px;
    height: 45px;
    font-size: 25px;
    background-color: #ff6d4d;
    border-radius: 15px;
    border: none;
    color: #ffeb99;
    padding-left: 10px;
    padding-right: 50px;


}

.text-box-repeat-password:focus {
    border: 3px solid #aa1905;
    outline: none;

}

.text-box-repeat-password::placeholder {
    color: #690013;
}

.mail {
    position: relative;
    font-size: 25px;
    color: #690013;
    top: 95px;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-box-mail {
    position: relative;
    top: 100px;
    width: 750px;
    height: 45px;
    font-size: 25px;
    background-color: #ff6d4d;
    border-radius: 15px;
    border: none;
    color: #ffeb99;
    padding-left: 10px;
    padding-right: 50px;

}

.text-box-mail:focus {
    border: 3px solid #aa1905;
    outline: none;
}

.text-box-mail::placeholder {
    color: #690013;
}


.pic {
    position: relative;
    font-size: 25px;
    color: #690013;
    top: 125px;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-box-pic {
    position: relative;
    top: 130px;
    width: 750px;
    height: 45px;
    font-size: 25px;
    background-color: #ff6d4d;
    border-radius: 15px;
    border: none;
    color: #ffeb99;
    padding-left: 10px;
    padding-right: 50px;
}

.text-box-pic:focus {
    border: 3px solid #aa1905;
    outline: none;
}

.text-box-pic::placeholder {
    color: #690013;
}


.description {
    position: relative;
    font-size: 25px;
    top: 150px;
    color: #690013;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.text-box-description {
    position: relative;
    top: 160px;
    width: 750px;
    height: 120px;
    font-size: 25px;
    background-color: #ff6d4d;
    border-radius: 15px;
    border: none;
    color: #ffeb99;
    padding-left: 10px;

}

.text-box-description:focus {
    border: 3px solid #aa1905;
    outline: none;
}

.text-box-description::placeholder {
    color: #690013;
}

/*          SCROLLBAR DE DESCRIPCION            */

textarea {
    resize: none;
}

textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #690013;
    border-radius: 4px;

}

textarea::-webkit-scrollbar-track {
    background-color: #ffeb99;
    border-radius: 15px;
}


/*  BOTON PARA CAMBIAR DATOS   */


.edit-profile-button {
    background-color: #690013;
    color: #ffeb99;
    padding: 15px 60px; /* modifica el tamaño/ubicación del boton */
    font-size: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    display: block;
    margin-top: 200px;
    margin-left: 250px;

}

.edit-profile-button:hover {
    background-color: #ff4920;
    color: #fffbb6;
}


.pass-button {
    position: absolute;
    display: inline-block;
    padding-right: 50px; /* espacio abajo para el botón */
    right: 55px;
    top: 855px;
    border: none;
    background-color: #690013;
    color: #ffeb99;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.repeat-button {
    position: absolute;
    display: inline-block;
    padding-right: 50px; /* espacio abajo para el botón */
    right: 55px;
    top: 966px;
    border: none;
    background-color: #690013;
    color: #ffeb99;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

@media (max-width: 1200px) {

.sidebar{
    display:none;
}

.todo {
    transform: scale(1); /* ← vuelve a tamaño normal */
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
} 

.changes-info{
    width: 100%;
    margin-top: 40px;
}

.text-box-description, .text-box-mail,
.text-box-name-user, .text-box-password,
.text-box-pic, .text-box-repeat-password {
    width: 100%;
    left: 0;
    top: 0;
    max-width: 800px;
    margin: 15px auto;
}

.user, .password, .repeat-password,
.mail, .pic, .description {
    position: static; /* se quita el moverse raro absoluto */
    margin-top: 20px;
    margin-left: 5px;
}

.pass-button {
        position: absolute; /* reemplazamos relative porque me entero que no se aplicaaaa */
        right: 65px;
        margin-top: -33px;
    }

.repeat-button{
    position: absolute;
    right:65px;
    margin-top: -17px;
}

    /* Área de texto */
    .text-box-description {
        height: 120px;
    }

    /* Botón actualizar */
    .edit-profile-button {
        margin: 40px auto;
        display: block;
        font-size: 20px;
    }
}

