  * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 30px;
     padding-left: 80px;
     background: linear-gradient(135deg, #ffeb99, #ffd54f);
     box-shadow: 0px 3px 8px rgb(0, 0, 0, 0.2);
     position: sticky;
     top: 0;
     z-index: 9000;
     font-family: "Acme", sans-serif;
     font-weight: 400;
 }

 
  header {
      display: flex;
      justify-content: space-between; /* Logo izquierda - Botones derecha */
      align-items: center;
      padding: 0 80px; /* margen horizontal */
      height: 80px; /* altura del header */
    background: linear-gradient(135deg, #ffeb99, #ffd54f);
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
      position: sticky;
      top: 0;
      z-index: 9000;
  }

 .contenedorBotones {
     display: flex;
     gap: 15p;
 }

 .Logotexto {
     width: 185px;
     height: auto;
     transition: transform 0.3s ease, filter 0.3s ease;
 }

 .Login {
     width: 120px;
     height: 40px;
     border: none;
     border-radius: 20px;
     background: linear-gradient(135deg, #ffda6a, #ffb700);
     color: #333;
     font-weight: bold;
     cursor: pointer;
     transition: all 0.3s ease;
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
 }

 .Login:hover {
     background: linear-gradient(135deg, #ffb700, #ff9100);
     transform: scale(1.05);
     color: white;
 }