/* APARTADO BODY, PAGINA EN GENERAL */

.content {
    margin-left: 60px; /* espacio para la sidebar */
    padding: 40px 20px;
    background: #fff7de;
    min-height: 100vh;
    transition: margin-left 0.75s ease;
    font-family: "Acme", sans-serif;
    display: flex;              /* centramos los juegos en fila */
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* ==== JUEGOS ==== */

.juego {
    width: 300px;
    height: 220px;
    background-color: rgb(238, 179, 51);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.6s ease;
    background-size: cover;
    background-position: center;
}

/* juego central (imagen principal) */
.juegoSelect {
    width: 720px;
    height: 520px;
    z-index: 2;
}

.juegoSecuizq, .juegoSecuder {
    width: 300px;
    height: 220px;
    opacity: 0.8;
}
