        html {
            background-color: #ffcf99;
            overflow-x: hidden;
            width: 100%;
            height: 100%;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


        .header-info {
            background-color: #ff6d4d;
            width: 700px;
            height: 500px;
            border-radius: 4%;
            color: #ffeb99;
            font-weight: 400; /*Aumenta grosor texto*/
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin: 30px auto;
        }

        .content {
            position: relative;
            bottom: 200px;

        }

        .logo {
            display: flex;
            height: auto;
            width: 400px;
            left: 50px;
            bottom: 20px;
            flex-direction: column;
            align-items: center;
        }


        .text-account-recovery {
            position: relative;
            top: 205px;
            left: 20px;
            font-size: 40px;

        }

        .caja-info {
            position: relative;
            top: 200px;

        }


        .text-box-account-recovery {
            position: relative;
            top: 60px;
            left: 25px;
            width: 640px;
            height: 45px;
            font-size: 30px;
            background-color: #690013;
            border-radius: 15px;
            color: #ffeb99;


        }

        .text-box-account-recovery:focus {
            border: 3px solid #ffd54f;
            outline: none;

        }

        .text-box-account-recovery::placeholder {
            color: #ffeb998a;
            
        }

        .mail{

            position: relative;
            font-size: 30px;
            top:50px;
            left: 26px;
            color: #ffeb99;

        }

        .recover {
            position: relative;
            width: 550px;
            height: 80px;
            left: 68px;
            top: 125px;
            font-size: 20px;
            color: #ffeb99;
            border-radius: 10px;
            background-color: #690013;
            cursor: pointer;


        }