* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTENIDO PRINCIPAL */
.contenido {
    margin-left: 60px;
    padding: 0;
    background: #fff9c4;
    min-height: 100vh;
    transition: margin-left 0.75s ease;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* PERFIL */
.perfil-contenedor {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    background: #fff9c4;
    border-radius: 0;
}

.perfil-cabecera {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
}

.perfil-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;

}

.perfil-info h1 {
    font-size: 1.8rem;
    margin: 0;
    color: #333;
}

.perfil-info p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

.perfil-detalles {
    margin-bottom: 20px;
    padding: 0 20px;
}

.perfil-bio h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.perfil-bio p {
    font-size: 0.9rem;
    color: #666;
}

.cambiar-clave {
    background: #ffd700;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
    display: block;
    margin-left: 20px;
}

.cambiar-clave:hover {
    background: #e6c200;
}

.perfil-estadisticas {
    margin-bottom: 20px;
    padding: 0 20px;
}

.perfil-estadisticas h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.columna-estadisticas {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 5%;
}

.columna-estadisticas:last-child {
    margin-right: 0;
}

.perfil-estadisticas p {
    font-size: 0.9rem;
    color: #444;
    margin: 5px 0;
}

.perfil-botones {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0 20px 20px;

}

.log-out-link{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #690013;
    color: #ffeb99;
    font-size: 25px;
    border-radius: 25px;
    left: 0px;
    top: 25px;
    width: 550px;
    height: 60px;
    padding: 100 280px;
    border: none;
    cursor: pointer;
    text-decoration: none;

}

.edit-profile-link{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #690013;
    color: #ffeb99;
    font-size: 25px;
    border-radius: 25px;
    bottom: 23px;
    left: 670px;
    width: 550px;
    height: 60px;
    padding: 100 280px;
    border: none;
    cursor: pointer;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;   
}

.log-out-link:hover{
    background-color: #ff4920;
    color: #fffbb6;
}

.edit-profile-link:hover{
    background-color: #ff4920;
    color: #fffbb6;
}