body {
    background-size: cover;
    margin: 0;
    background-color:    
    
    rgb(236, 192, 192);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #ffdab7;
    text-align: center;
    font-family: "Acme", sans-serif;
    font-weight: 400;
}

.hamster{
    width: 70px;
    height: 80px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
li {
    margin-right: 30px;
}
a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s, border-bottom 0.3s;
}
a:hover {
    color: #0ef;
    border-bottom: 2px solid #0ef;
}

.subtitulo{
    text-align: center;
    font-size: 50px;
    text-align: center;
    font-family: "Acme", sans-serif;
    font-weight: 400;
}

.quienes{
    font-size: 25px;
    
}

.sub{
    background-color: black;
    margin: 5px;
    padding: 5px;
    text-align: center;
    color:white;
    font-size: 40px;
    text-align: center;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    
}

.cajaD{
    background-color: aliceblue;
    position: relative;
    padding: 5px;
    margin: 0px auto 0;   /*Valor negativo sube la caja de mierrrda*/
    border-radius: 12%;
    text-align: center;
    color:white;
    width: 425px; 
    height: 520px; 
    right: 600px;
    transition: transform 1.0s ease;
    transform-origin: center, center;
       
}

.cajaD:hover {
    transform: scale(1.04)

}
.perfildev{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 5px, rgb(97, 88, 231);
    position:relative;
    left: 0px;
    margin: 125px auto 0;
    
}

.cajaA{
    background-color: aliceblue;
    position: relative;
    padding: 5px;
    margin: -530px auto 0;   /*Valor negativo sube la caja de mierrrda*/
    border-radius: 12%;
    text-align: center;
    color:white;
    width: 425px; 
    height: 520px; 
    left: 590px;
}

.perfilagus{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 5px, rgb(97, 88, 231);
    position: relative;
    left: 0px;
    margin:125px auto 0;
}

.cajaM{

    background-color: aliceblue;
    position: relative;
    padding: 5px;
    margin: -530px auto 0;   /*Valor negativo sube la caja de mierrrda*/
    border-radius: 12%;
    text-align: center;
    color:white;
    width: 425px; 
    height: 520px; 
    right: 0px;
}

.perfilmart{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 5px, rgb(97, 88, 231);
    position: relative;
    margin: 125px auto 0;
    left: 0px;
    
}

.cajaJ{
    background-color: aliceblue;
    position: relative;
    padding: 5px;
    margin: 25px auto 0;   /*Valor negativo sube la caja de mierrrda*/
    border-radius: 12%;
    text-align: center;
    color:white;
    width: 425px; 
    height: 520px; 
    left: 0px;
}

.perfiljohn{

    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 5px, rgb(97, 88, 231);
    position: relative;
    margin: 125px auto 0;
    left: 0px;

}

.cajaN{
     background-color: aliceblue;
    position: relative;
    padding: 5px;
    margin: 46px auto 0;   /*Valor negativo sube la caja de mierrrda*/
    border-radius: 12%;
    text-align: center;
    color:white;
    width: 425px; 
    height: 520px; 
    right: 600px;
}

.perfilnilt{

    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 5px, rgb(97, 88, 231);
    position: relative;
    margin: 125px auto 0;
    left: 0px;
}

.cajaP{

    background-color: aliceblue;
    position: relative;
    padding: 5px;
    margin: -530px auto 0;   /*Valor negativo sube la caja de mierrrda*/
    border-radius: 12%;
    text-align: center;
    color:white;
    width: 425px; 
    height: 520px; 
    left: 0px;
}
.perfilpati{

    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 5px, rgb(97, 88, 231);
    position: relative;
    margin: 125px auto 0;
    left: 0px;

}

.cajaZ{
    background-color: aliceblue;
    position: relative;
    padding: 5px;
    margin: -530px auto 0;   /*Valor negativo sube la caja de mierrrda*/
    border-radius: 12%;
    text-align: center;
    color:white;
    width: 425px; 
    height: 520px; 
    left: 590px;
}

.perfilzaid{

    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 5px, rgb(97, 88, 231);
    position: relative;
    margin: 125px  auto 0;
    left: 0px;

}

.infoDev{

    display: none; 
    position: relative;
    background-color: black;
    padding: 5px;
    margin: -500px auto 0;   /*Valor negativo sube la caja de mierrrda*/
    border-radius: 5px;
    text-align: center;
    color:white;
    width: 1000px; 
    height: 500px; 

}

.decoinfo{
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    background: #203fec;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.infoMart{

    display: none; 
    position: relative;
    background-color: black;
    padding: 5px;
    margin: -500px auto 0;   /*Valor negativo sube la caja de mierrrda*/
    border-radius: 5px;
    text-align: center;
    color:white;
    width: 1000px; 
    height: 500px;

}

.infoAgus{

    display: none; 
    position: relative;
    background-color: black;
    padding: 5px;
    margin: -500px auto 0;   /*Valor negativo sube la caja de mierrrda*/
    border-radius: 5px;
    text-align: center;
    color:white;
    width: 1000px; 
    height: 500px;
    

}



.btncerrar{

   background-color: rgb(74, 117, 238);
   color: white;
   position: absolute;
   top: 10px;
   right: 10px;
   height: 25px;
   width: 30px;
   

}