* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    header {
        margin-top: 60px;
    }




    body, html {
        height: 100%;
        font-family: 'Arial', sans-serif;
        background-color: rgb(41, 30, 202);
        overflow-x: hidden;
    }


    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 60px;
        background-color: #221fa7;
        color: white;
        transition: width 0.75s ease;
        padding: 20px 10px;
        overflow: hidden;
        z-index: 9999; /* para que esté encima de todo */
        box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    }
    .sidebar:hover {
        width: 200px;
    }
    .sidebar ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    .sidebar li {
        padding: 10px;
        border-bottom: 2px solid #222369;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .sidebar li:hover {
        background-color: #2925ff;
    }
    .nav-link {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: white;
        text-decoration: none;
        font-weight: 600;
        white-space: nowrap;
    }
    .item-icon {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item-txt {
        opacity: 0;
        transition: opacity 0.3s;
    }
    .sidebar:hover .item-txt {
        opacity: 1;
    }


    .content {
        margin-left: 60px;
        padding: 40px 20px;
        background: linear-gradient(1deg,rgb(4, 142, 255) 0%, rgb(18, 24, 92) 50%, rgb(44, 20, 131) 100%);
        min-height: 100vh;
        transition: margin-left 0.75s ease;
    }


    .logotexto {
        width: 720px;
        height: auto;
        margin-bottom: 20px;
    }


    .animate__animated.animate__bounce {
    --animate-duration: 2s;
    }


    .juegoSelect {
        width: 720px;
        height: 520px;
        background-color: rgb(5, 6, 63);
        margin: 0 auto; /* centrar */
        border-radius: 30px;
        position: relative;
        margin-top: 40px;
    }


    .juegoSelect:hover{
        transition: transform 0.4s ease;
        transform: scale(1.04)
    }


    .juegoSecuizq {
        width: 300px;
        height: 330px;
        background-color: rgb(5, 6, 63);
        margin: 0 auto; /* centrar */
        border-radius: 30px;
        position: relative;
        margin-top: -430px;
        margin-left: 150px;
    }


    .juegoSecuder {
        width: 300px;
        height: 330px;
        background-color: rgb(5, 6, 63);
        margin: 0 auto; /* centrar */
        border-radius: 30px;
        position: relative;
        margin-top: -320px;
        margin-right: 150px;
    }


    .juegoFondoizq {
        width: 80px;
        height: 100px;
        background-color: rgb(5, 6, 63);
        margin: 0 auto; /* centrar */
        border-radius: 30px;
        position: relative;
        margin-top: -230px;
        margin-left: 35px
    }


    .juegoFondoder {
        width: 80px;
        height: 100px;
        background-color: rgb(5, 6, 63);
        margin: 0 auto; /* centrar */
        border-radius: 30px;
        position: relative;
        margin-top: -90px;
        margin-right: 35px
    }

    